{% extends 'pc/base.html' %}
{% load static %}
{% block title %}
{{ request.user }}
{% endblock %}
{% block css %}
        <link rel="stylesheet" href="{% static 'css/pagination.css' %}" />
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <link rel="stylesheet" href="{% static 'css/person.css' %}" />

{% endblock %}
{% block content %}
    <div class="person_banner">
        <div class="person_bannerbgd img_cover">
            <div></div>
        </div>
        <div class="person_nav main">
            <ul class="clearfix">
                <li class="fl">
                    <a href="">发布</a>
                </li>
                <li class="fl">
                    <a href="">关注</a>
                </li>
                <li class="fl">
                    <a href="">人脉</a>
                </li>
                <li class="fl">
                    <a href="">资料</a>
                </li>
            </ul>
        </div>
        <div class="aside_my">
            <div class="aside_my_info">
                <div style="text-align: center;">

                    <div class="my_head"style="

                            {% if request.user.user_imag  %}

                        background: url('{{ MEDIA_URL }}{{ request.user.user_imag }}')no-repeat;background-size: cover;
                        {% else %}
                        background: #000;
                    {% endif %}"></div>
                    <p style="margin:16px 0 4px 0">{{ request.user.username }}</p>
                    <p style="font-size: 12px;">前端开发 | 3年</p>
                </div>
            </div>
            <div class="aside_my_num flex_justify">
               <div class="aside_my_div">
                   <p>{{ count}}</p>
                   <p>关注</p>
               </div>
                <div class="aside_my_div">
                    <p>{{ floow }}</p>
                    <p>粉丝</p>
                </div>
            </div>
        </div>
    </div>
<section class="main clearfix">
    {% block end %}
         <div class="person fl">

        <div class="clearfix">
            <div class="fl left_nav">
                <ul id="category">
                    <li data-type="" class="active"><a href="javascript:;">全部</a></li>
                    {% for foo in category %}
                        <li data-type="{{ foo.id }}"><a href="javascript:;">{{ foo.name }}</a></li>
                    {% endfor %}
                </ul>
            </div>
            <article class="fr">
                 <div class="blogs">
                     <div class="blogs_head" style="background: url({% static 'img/recommend.png' %})no-repeat 0 50%;">最新文章</div>
                     <div id="mains">

                      {% comment %}   <div class="blogs_item">
                             <div class="blogs_cont blogs_cont1">
                                 <h3><span class="blogs_type">前端</span><a href="">Nginx 动静分离与负载均衡的实现</a></h3>
                                     <div class="blogs_info clearfix">
                                          <div class="img_animate fl ">
                                              <div class="blogs_pic img_cover" style="background: url(img/pic/a5e8b0e574b0b165092b069f9c819f9a.jpg)no-repeat;"></div>
                                          </div>
                                          <div class="fl blogs_describe">
                                              <p>不管是在学习中还是在工作中，都会使用到PDF文件，在很多的时候，大家都会使用到PDF文件，对于PDF文件的修改，
            则是需要使用到PDF编辑软件的，那么，如何用PDF编辑工具拆分PDF文件呢，是不是有很多的小伙伴都想知道应该</p>
                                          </div>
                                          <div class="blogs_foot blogs_foot1">
                                    <ul class="clearfix">
                                        <li class="fl">
                                             <a href="" class="clearfix">
                                                 <span class="fl img_cover blogs_avatar" style="background: url(http://www.fengjinqi.com/uploads/avatar/a3fa9ffc500c08522bea28871c0be419.jpg)no-repeat"></span>
                                                 <span class="fl blogs_name">管理员</span>
                                             </a>
                                         </li>
                                        <li class="fl blogs_time">发布于：2018-12-23 12:30:45</li>
                                        <li class="fl blogs_view" style="background: url(img/public.png)no-repeat 0 50%;">9</li>
                                        <li class="fl blogs_comment" style="background: url(img/public.png)no-repeat 0 50%;">2</li>
                                    </ul>
                                </div>
                                     </div>
                             </div>
                         </div>
                         <div class="blogs_item">
                             <div class="blogs_cont blogs_cont1">
                                 <h3><span class="blogs_type">前端</span><a href="">Nginx 动静分离与负载均衡的实现</a></h3>
                                     <div class="blogs_info clearfix">
                                          <div class="img_animate fl ">
                                              <div class="blogs_pic img_cover" style="background: url(img/pic/a5e8b0e574b0b165092b069f9c819f9a.jpg)no-repeat;"></div>
                                          </div>
                                          <div class="fl blogs_describe">
                                              <p>不管是在学习中还是在工作中，都会使用到PDF文件，在很多的时候，大家都会使用到PDF文件，对于PDF文件的修改，
            则是需要使用到PDF编辑软件的，那么，如何用PDF编辑工具拆分PDF文件呢，是不是有很多的小伙伴都想知道应该</p>
                                          </div>
                                          <div class="blogs_foot blogs_foot1">
                                    <ul class="clearfix">
                                        <li class="fl">
                                             <a href="" class="clearfix">
                                                 <span class="fl img_cover blogs_avatar" style="background: url(http://www.fengjinqi.com/uploads/avatar/a3fa9ffc500c08522bea28871c0be419.jpg)no-repeat"></span>
                                                 <span class="fl blogs_name">管理员</span>
                                             </a>
                                         </li>
                                        <li class="fl blogs_time">发布于：2018-12-23 12:30:45</li>
                                        <li class="fl blogs_view" style="background: url(img/public.png)no-repeat 0 50%;">9</li>
                                        <li class="fl blogs_comment" style="background: url(img/public.png)no-repeat 0 50%;">2</li>
                                    </ul>
                                </div>
                                     </div>
                             </div>
                         </div>{% endcomment %}
                     </div>
                     <div class="M-box pagination"></div>
                 </div>
            </article>
        </div>
    </div>
    <aside class="fr">

    {{ request.path }}
        <div class="aside_pubnum">
            <div class="flex_justify">
               <div class="aside_my_div">
                   <p><img src="img/public.png" alt=""></p>
                   <p>写文章</p>
               </div>
                <div class="aside_my_div">
                    <p><img src="img/public.png" alt=""></p>
                    <p>提问</p>
                </div>
            </div>
        </div>
        <div class="aside_visit">
            <div>
                <div class="blogs_head" style="background: url(img/recommend.png)no-repeat 0 50%;">访客</div>
                <div>
                    <div class="visit_item">
                         <div class="visit_head img_cover"></div>
                        <div class="visit_info_text">
                            <p>狙击手</p>
                            <p class="vi_co">48分钟前</p>
                        </div>
                    </div>
                     <div class="visit_item">
                         <div class="visit_head img_cover"></div>
                        <div class="visit_info_text">
                            <p>狙击手</p>
                            <p class="vi_co">48分钟前</p>
                        </div>
                    </div>
                     <div class="visit_item">
                         <div class="visit_head img_cover"></div>
                        <div class="visit_info_text">
                            <p>狙击手</p>
                            <p class="vi_co">48分钟前</p>
                        </div>
                    </div>
                     <div class="visit_item">
                         <div class="visit_head img_cover"></div>
                        <div class="visit_info_text">
                            <p>狙击手</p>
                            <p class="vi_co">48分钟前</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </aside>
    {% endblock %}

</section>
{% endblock %}
{% block js %}
    <script src="{% static 'js/jquery.pagination.js' %}"></script>
    <script>
        $(function () {
            $.ajax({
                url:'/api/PersonApi/',
                type:'get',
                beforeSend:function(){
                    $("#mains").append("<p class='loading'><img src='/static/img/5-121204193R5-50.gif'></p>")
                },
                success:function (data) {
                    $('.loading').remove()
                    var html =''
                    n=[]
                    for(var i=0;i<data.results.length;i++){
                        var currentItem = data.results[i];
                        currentItem.list_pic=currentItem.list_pic?currentItem.list_pic:'/static/img/pic/a5e8b0e574b0b165092b069f9c819f9a.jpg'

                        n.push(currentItem.article_comment_set.length);
                        for(var j=0,len=currentItem.article_comment_set.length;j<len;j++){
                            var currentChildItem = currentItem.article_comment_set[j];
                            n[i] += currentChildItem.articlecommentreply_set.length;
                        }


                        html+=" <div class=\"blogs_item\">\n" +
                            "                             <div class=\"blogs_cont blogs_cont1\">\n" +
                            "                                 <h3><span class=\"blogs_type\">"+data.results[i].category.name+"</span><a href=\"/article/detail/"+data.results[i].id+"\">"+data.results[i].title+"</a></h3>\n" +
                            "                                     <div class=\"blogs_info clearfix\">\n" +
                            "                                          <div class=\"img_animate  \">\n" +
                            "                                              <div class=\"blogs_pic img_cover\" style=\"background: url('"+data.results[i].list_pic+"')no-repeat;\"></div>\n" +
                            "                                          </div>\n" +
                            "                                          <div class=\" blogs_describe\">\n" +
                            "                                     <div class=\" divp\">\n" +
                            "                                              <p>"+data.results[i].keywords+"</p>\n" +
                            "                                          <div class=\"blogs_foot blogs_foot1 ulw\">\n" +
                            "                                    <ul class=\"clearfix \">\n" +
                            "                                        <li class=\"fl\">\n" +
                            "                                             <a href=\"\" class=\"clearfix\">\n" +
                            "                                                 <span class=\"fl img_cover blogs_avatar\" style=\"background: url('"+data.results[i].authors.user_imag+"')no-repeat\"></span>\n" +
                            "                                                 <span class=\"fl blogs_name\">"+data.results[i].authors.username+"</span>\n" +
                            "                                             </a>\n" +
                            "                                         </li>\n" +
                            "                                        <li class=\"fl blogs_time\">发布于:"+data.results[i].add_time+"</li>\n" +
                            "                                        <li class=\"fl blogs_view\" style=\"background: url(/static/img/eye.png)no-repeat 0 50%;\">"+data.results[i].click_nums+"</li>\n" +
                            "                                        <li class=\"fl blogs_comment\" style=\"background: url(/static/img/comment.png)no-repeat 0 50%;\">"+n[i]+"</li>\n" +
                            "                                        <li class=\"fr blogs_edit\"><a href=\"/article/update/"+data.results[i].id+"\" >编辑</a></li>\n" +
                            "                                    </ul>\n" +
                            "                                </div>\n" +
                            "                                </div>\n" +
                            "                                </div>\n" +
                            "                                     </div>\n" +
                            "                             </div>\n" +
                            "                         </div>"
                    }
                    $("#mains").append(html)
                    console.log(data)
                    $('.M-box').pagination({
                        pageCount:Math.ceil(data.count/4),   //总页码
                        coping:true,                 //是否开启首页和末页
                        homePage:'首页',
                        endPage:'末页',
                        prevContent:'上页',
                        nextContent:'下页',
                         jump:true,
                        current:1,                    //当前页码
                        callback:function (api) {
                            $.ajax({
                                url:'/api/PersonApi/',
                                type:'get',
                                data:{
                                    page:api.getCurrent()    //这个方法就是用来获取点击了哪一页的，因为我  //的接口文档中页数是从0开始的，所以减1，当我点击第一页的时候去获取第0页的数据
                                },
                                success:function (data) {
                                    console.log(data);             //返回那一页的数据
                                    var html =''
                                    b=[]
                                    for(var i=0;i<data.results.length;i++){
                                        var currentItem = data.results[i];
                                        currentItem.list_pic=currentItem.list_pic?currentItem.list_pic:'/static/img/pic/a5e8b0e574b0b165092b069f9c819f9a.jpg'

                                        b.push(currentItem.article_comment_set.length);
                                        for(var j=0,len=currentItem.article_comment_set.length;j<len;j++){
                                            var currentChildItem = currentItem.article_comment_set[j];
                                            b[i] += currentChildItem.articlecommentreply_set.length;
                                        }


                                        html+=" <div class=\"blogs_item\">\n" +
                                            "                             <div class=\"blogs_cont blogs_cont1\">\n" +
                                            "                                 <h3><span class=\"blogs_type\">"+data.results[i].category.name+"</span><a href=\"/article/detail/"+data.results[i].id+"\">"+data.results[i].title+"</a></h3>\n" +
                                            "                                     <div class=\"blogs_info clearfix\">\n" +
                                            "                                          <div class=\"img_animate  \">\n" +
                                            "                                              <div class=\"blogs_pic img_cover\" style=\"background: url('"+data.results[i].list_pic+"')no-repeat;\"></div>\n" +
                                            "                                          </div>\n" +
                                            "                                          <div class=\" blogs_describe\">\n" +
                                            "                                     <div class=\" divp\">\n" +
                                            "                                              <p>"+data.results[i].keywords+"</p>\n" +
                                            "                                          <div class=\"blogs_foot blogs_foot1 ulw\">\n" +
                                            "                                    <ul class=\"clearfix \">\n" +
                                            "                                        <li class=\"fl\">\n" +
                                            "                                             <a href=\"\" class=\"clearfix\">\n" +
                                            "                                                 <span class=\"fl img_cover blogs_avatar\" style=\"background: url('"+data.results[i].authors.user_imag+"')no-repeat\"></span>\n" +
                                            "                                                 <span class=\"fl blogs_name\">"+data.results[i].authors.username+"</span>\n" +
                                            "                                             </a>\n" +
                                            "                                         </li>\n" +
                                            "                                        <li class=\"fl blogs_time\">发布于:"+data.results[i].add_time+"</li>\n" +
                                            "                                        <li class=\"fl blogs_view\" style=\"background: url(/static/img/eye.png)no-repeat 0 50%;\">"+data.results[i].click_nums+"</li>\n" +
                                            "                                        <li class=\"fl blogs_comment\" style=\"background: url(/static/img/comment.png)no-repeat 0 50%;\">"+b[i]+"</li>\n" +
                                            "                                        <li class=\"fr blogs_edit\"><a href=\"/article/update/"+data.results[i].id+"\" >编辑</a></li>\n" +
                                            "                                    </ul>\n" +
                                            "                                </div>\n" +
                                            "                                </div>\n" +
                                            "                                </div>\n" +
                                            "                                     </div>\n" +
                                            "                             </div>\n" +
                                            "                         </div>"
                                    }
                                    $("#mains").html(html)
                                }
                            })


                        }
                    });



                },
                error:function () {
                    alert('加载失败')
                }
            })
            $("#category li").on('click',function () {
                var self = $(this)
                filter(self)
            })
        })
        function filter(self) {
            self.addClass('active').siblings().removeClass('active')
                $.ajax({
                    url:'/api/PersonApi/?category='+self.attr('data-type'),
                    type:'get',
                    beforeSend:function(){
                        $("#mains").append("<p class='loading'><img src='/static/img/5-121204193R5-50.gif'></p>")
                    },
                    success:function (data) {
                        $('.loading').remove()
                        var html =''
                        n=[]
                        for(var i=0;i<data.results.length;i++){
                            var currentItem = data.results[i];
                            currentItem.list_pic=currentItem.list_pic?currentItem.list_pic:'/static/img/pic/a5e8b0e574b0b165092b069f9c819f9a.jpg'

                            n.push(currentItem.article_comment_set.length);
                            for(var j=0,len=currentItem.article_comment_set.length;j<len;j++){
                                var currentChildItem = currentItem.article_comment_set[j];
                                n[i] += currentChildItem.articlecommentreply_set.length;
                            }


                            html+=" <div class=\"blogs_item\">\n" +
                                "                             <div class=\"blogs_cont blogs_cont1\">\n" +
                                "                                 <h3><span class=\"blogs_type\">"+data.results[i].category.name+"</span><a href=\"/article/detail/"+data.results[i].id+"\">"+data.results[i].title+"</a></h3>\n" +
                                "                                     <div class=\"blogs_info clearfix\">\n" +
                                "                                          <div class=\"img_animate  \">\n" +
                                "                                              <div class=\"blogs_pic img_cover\" style=\"background: url('"+data.results[i].list_pic+"')no-repeat;\"></div>\n" +
                                "                                          </div>\n" +
                                "                                          <div class=\" blogs_describe\">\n" +
                                "                                     <div class=\" divp\">\n" +
                                "                                              <p>"+data.results[i].keywords+"</p>\n" +
                                "                                          <div class=\"blogs_foot blogs_foot1 ulw\">\n" +
                                "                                    <ul class=\"clearfix \">\n" +
                                "                                        <li class=\"fl\">\n" +
                                "                                             <a href=\"\" class=\"clearfix\">\n" +
                                "                                                 <span class=\"fl img_cover blogs_avatar\" style=\"background: url('"+data.results[i].authors.user_imag+"')no-repeat\"></span>\n" +
                                "                                                 <span class=\"fl blogs_name\">"+data.results[i].authors.username+"</span>\n" +
                                "                                             </a>\n" +
                                "                                         </li>\n" +
                                "                                        <li class=\"fl blogs_time\">发布于:"+data.results[i].add_time+"</li>\n" +
                                "                                        <li class=\"fl blogs_view\" style=\"background: url(/static/img/eye.png)no-repeat 0 50%;\">"+data.results[i].click_nums+"</li>\n" +
                                "                                        <li class=\"fl blogs_comment\" style=\"background: url(/static/img/comment.png)no-repeat 0 50%;\">"+n[i]+"</li>\n" +
                                "                                        <li class=\"fr blogs_edit\"><a href=\"/article/update/"+data.results[i].id+"\" >编辑</a></li>\n" +
                                "                                    </ul>\n" +
                                "                                </div>\n" +
                                "                                </div>\n" +
                                "                                </div>\n" +
                                "                                     </div>\n" +
                                "                             </div>\n" +
                                "                         </div>"
                        }
                        $("#mains").html(html)
                        console.log(data)
                         if(data.results.length==0){
                             $("#mains").append("<p class=' blogs_item' style='text-align:center;padding:50px 0;'>暂无数据...</p>")
                        }
                        $('.M-box').pagination({
                            pageCount:Math.ceil(data.count/4),   //总页码
                            coping:true,                 //是否开启首页和末页
                            homePage:'首页',
                            endPage:'末页',
                            prevContent:'上页',
                            nextContent:'下页',
                             jump:true,
                            current:1,                    //当前页码
                            callback:function (api) {
                                $.ajax({
                                   url:'/api/PersonApi/?category='+self.attr('data-type'),
                                    type:'get',
                                    data:{
                                        page:api.getCurrent()    //这个方法就是用来获取点击了哪一页的，因为我  //的接口文档中页数是从0开始的，所以减1，当我点击第一页的时候去获取第0页的数据
                                    },
                                    success:function (data) {
                                        console.log(data);             //返回那一页的数据
                                        var html =''
                                        b=[]
                                        for(var i=0;i<data.results.length;i++){
                                            var currentItem = data.results[i];
                                            currentItem.list_pic=currentItem.list_pic?currentItem.list_pic:'/static/img/pic/a5e8b0e574b0b165092b069f9c819f9a.jpg'

                                            b.push(currentItem.article_comment_set.length);
                                            for(var j=0,len=currentItem.article_comment_set.length;j<len;j++){
                                                var currentChildItem = currentItem.article_comment_set[j];
                                                b[i] += currentChildItem.articlecommentreply_set.length;
                                            }


                                            html+=" <div class=\"blogs_item\">\n" +
                                                "                             <div class=\"blogs_cont blogs_cont1\">\n" +
                                                "                                 <h3><span class=\"blogs_type\">"+data.results[i].category.name+"</span><a href=\"/article/detail/"+data.results[i].id+"\">"+data.results[i].title+"</a></h3>\n" +
                                                "                                     <div class=\"blogs_info clearfix\">\n" +
                                                "                                          <div class=\"img_animate  \">\n" +
                                                "                                              <div class=\"blogs_pic img_cover\" style=\"background: url('"+data.results[i].list_pic+"')no-repeat;\"></div>\n" +
                                                "                                          </div>\n" +
                                                "                                          <div class=\" blogs_describe\">\n" +
                                                "                                     <div class=\" divp\">\n" +
                                                "                                              <p>"+data.results[i].keywords+"</p>\n" +
                                                "                                          <div class=\"blogs_foot blogs_foot1 ulw\">\n" +
                                                "                                    <ul class=\"clearfix \">\n" +
                                                "                                        <li class=\"fl\">\n" +
                                                "                                             <a href=\"\" class=\"clearfix\">\n" +
                                                "                                                 <span class=\"fl img_cover blogs_avatar\" style=\"background: url('"+data.results[i].authors.user_imag+"')no-repeat\"></span>\n" +
                                                "                                                 <span class=\"fl blogs_name\">"+data.results[i].authors.username+"</span>\n" +
                                                "                                             </a>\n" +
                                                "                                         </li>\n" +
                                                "                                        <li class=\"fl blogs_time\">发布于:"+data.results[i].add_time+"</li>\n" +
                                                "                                        <li class=\"fl blogs_view\" style=\"background: url(/static/img/eye.png)no-repeat 0 50%;\">"+data.results[i].click_nums+"</li>\n" +
                                                "                                        <li class=\"fl blogs_comment\" style=\"background: url(/static/img/comment.png)no-repeat 0 50%;\">"+b[i]+"</li>\n" +
                                                "                                        <li class=\"fr blogs_edit\"><a href=\"/article/update/"+data.results[i].id+"\" >编辑</a></li>\n" +
                                                "                                    </ul>\n" +
                                                "                                </div>\n" +
                                                "                                </div>\n" +
                                                "                                </div>\n" +
                                                "                                     </div>\n" +
                                                "                             </div>\n" +
                                                "                         </div>"
                                        }
                                        $("#mains").html(html)
                                    }
                                })


                            }
                        });



                    },
                    error:function () {
                        alert('加载失败')
                    }
            })
        }
    </script>
{% endblock %}
