nav a,.user a{
    color: #666;
    font-size: 16px;
}
ul{
    margin-bottom: 0;
}
body{
    background: #f5f5f5;
}
article{
    margin: 15px 0;
}
.swiper-slide h4 a{
    color: #666;
}
.container{
    width: 1200px;
    margin: 0 auto;
    height: calc(100% - 10px);
    padding: 0;
}
article{
    width: 880px;
    margin-top: 20px;
    background: #fff;

}

#test-editormd-view2 {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.social-share{
    padding-left: 15px;
}
aside{
    width: 300px;

}

.comment{
    margin-top: 20px;
padding:0 15px
}
.comment-main{
    position: relative;
}
button.fr{
    margin-top: 15px;
}
.comment-fask{
    margin-bottom: 20px;
}
.mask{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    color: #333;
    text-align: center;
    width: 100%;
    height: 100%;
    background: rgba(9,9,9,.1);;
}
.mask a{
    line-height: 114px;
}

 .cmt-list-type {
    line-height: 30px;
    height: 30px;
    position: relative;
    margin-top: 50px;
    overflow: hidden;
}
 .clear-g {
    zoom: 1;
    border: 0;
    margin: 0;
    padding: 0;
    font-size: 100%;
    text-align: left;
    vertical-align: baseline;
    background-image: none;
    background-position: 0 0;
    width: auto;
    float: none;
    overflow: visible;
    text-indent: 0;
}
 .cmt-list-type .type-lists .type-list {
    float: left;
    width: 66px;
    height: 29px;
    text-align: center;
    color: #4398ed;
    font-size: 16px;
    background: url(https://changyan.itc.cn/mdevp/extensions/cmt-list/061/images/cmtlist-bg.png) no-repeat;
    background-position: top left;
    line-height: 30px;
}
 .cmt-list-type .type-lists li.active {
    background-image: url(https://changyan.itc.cn/mdevp/extensions/cy-skin/028/skin-red/images/cmtlist-bg-active.png);
}
 .clear-g:after {
    content: ".";
    display: block;
    visibility: hidden;
    height: 0;
    clear: both;
}

:after, :before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.cmt-list-type div.cmt-list-border {
    background-color: #e74851;
}
 .cmt-list-type .cmt-list-border {
    position: relative;
    bottom: 1px;
    left: 66px;
    height: 1px;
    background-color: #4398ed;
}
.cmt-list-type .cmt-list-number {
    position: absolute;
    right: 0;
    bottom: 0;
}

.list-block-gw .newest{
    margin: 18px 0 0;
    border-bottom: 1px solid #ccc;
}
.list-main{
    display: flex;
    padding: 15px;
    border-bottom: 1px dashed #ccc
}
.img-corner{
    width: 42px;
}
.img-corner img{
    width: 42px;
    height: 42px;
    border-radius: 50%;
}
.list-text{
    padding-left:15px;
    width: 100%;
}
.reply-list{
    display: flex;
    border-top: 1px dashed #ccc;
    width: 100%;
    border-left: 2px solid #ccc;
    padding: 15px 0;
}
.text-con{
    color: #666;
}
p.fr{
    color: #999;
}