/*列表开始*/
.blogs{
    border: 1px solid #ddd;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background: #fff;
    padding: 0 16px;
    margin-top: 20px;
}
.blogs_head{
    padding-left:24px;
    height: 44px;
    line-height: 44px;
    color: #333;
    font-size: 16px;
    border-bottom:1px solid #ddd; ;
}
.blogs_cont{
    padding:20px 0;
}
.blogs_type{
    font-size: 12px;
    color: #356dd0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    padding:2px 4px;
    border: 1px solid #356dd0;
    margin-right: 8px;
}
.blogs_foot{
    margin-top: 16px;
}
.blogs_foot>ul,.blogs_foot>ul>li{
    height: 24px;
}
.blogs_avatar{
    width: 24px;
    height: 24px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    margin-right: 8px;
}
.blogs_name,.blogs_time,.blogs_view,.blogs_comment{
    height: 24px;
    line-height: 24px;
    margin-right: 8px;
    font-size: 12px;
    color: #999;
}
.blogs_time{
    margin-right: 20px;
}
.blogs_view,.blogs_comment{
    padding-left: 24px;
}
.blogs_item{
    border-bottom: 1px solid #ddd;
}
.blogs_info{
    position: relative;
    margin-top: 16px;
}
.blogtext{
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    -webkit-line-clamp: 3;
}
.img_animate{
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    position: absolute;
    top: 0;
    left:0;
    overflow: hidden;
}
.img_animate:hover .blogs_pic{
    transform:scale(1.1);
    -ms-transform:scale(1.1); 	/* IE 9 */
    -moz-transform:scale(1.1); 	/* Firefox */
    -webkit-transform:scale(1.1); /* Safari 和 Chrome */
    -o-transform:scale(1.1); 	/* Opera */
}
.blogs_pic{
    width: 200px;
    height: 120px;
    -webkit-transition: 0.5s;
    -moz-transition:  0.5s;
    -ms-transition:  0.5s;
    -o-transition:  0.5s;
    transition:  0.5s;
}
.blogs_describe{
    padding-left: 216px;
    height: 120px;
}
.blogs_foot1{
    position: absolute;
    bottom: 0;
    left:216px
}
/*列表结束*/
/*banner开始*/
.banner{
    width:100%;
    height: 90px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    margin:20px 0 0 0;
}
/*banner结束*/
/*aside开始*/
.aside_public,.aside_hot,.aside_goodperson,.aside_autor{
    border: 1px solid #ddd;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background: #fff;
    padding: 0 16px;
    margin-top: 9px;
}
.blogs_number{
    text-align: center;
    height: 103px;
}
.blogs_number>ul{
    padding-top:30px;
}
.blogs_number>ul>li{
    width: 33.33%;
}
.blogs_number .number{
    font-size: 18px;
    color: #333;
}
.blogs_cal{
    margin-top: 16px;
}
.blogs_item:last-child{
    border-bottom: none;
}
.swiper_pic{
    width: 100%;
    height: 160px;
    margin-bottom: 16px;
}
.swiper-pagination{
    padding:14px 0;
    border-top: 1px solid #ddd;
    bottom: 0!important;
}
.swiper-pagination .swiper-pagination-bullet {
    width: 6px;
    height: 6px;
}
.swiper-wrapper{
    height: 288px;
}
.swiper-slide h4{
   white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

}
.aside_goodperson_item_user{
    position: relative;
    margin-left: 30px;
}
.aside_goodperson_item_num{
    height: 44px;
    line-height: 44px;
}
.aside_goodperson_item_user_avatar{
    width: 44px;
    height: 44px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
}
.aside_goodperson_item_user_avatar1{
     width: 44px;
    height: 44px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}
.aside_autor_item{
    font-size: 12px;
}
.aside_goodperson_item {
    margin: 16px 0;
}
.aside_goodperson_item_user_info{
    padding-left: 56px;
    font-size: 12px;
    height: 44px;
    line-height: 24px;
}
.aside_autor .flex_justify{
    margin: 16px 0;
}
/*aside结束*/
/*文章css*/
.fiter{
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background: #fff;
    /*padding: 16px 16px 0 16px;*/
    margin-top: 20px;
    border: 1px solid #ddd;
}
.fiter_nav{
    border-right:0;
    width: 180px;
    height: 105px;
    position: relative;
     background:#356dd0;
    color: #fff;
}
.fiter_nav>ul>li{
    padding:8px 16px;
}
.fiter_active{
    background:#fff;
    color: #666;
}
.er_meau{
        position: absolute;
    top: 10px;
    left: 180px;
    width: 678px;
    display: none;
    border-bottom-right-radius: 3px;
    padding-left: 20px;
    background: #fff;
    z-index: 8;
    color: #999;
}
.er_meau_active{
    display: block;
}
.fiter_nav>ul>li>ul>li{
    margin-right: 12px;
    cursor: pointer;
}


.follow{
    display: flex;
}

.follow li{
    padding-left: 15px;
}
.follow li:first-child{
    padding-left: 0;
}
.nav li a.active{
    color: #356dd0;
}