.item_title{
    display: flex;
    align-items: center;
}
.item_title>img{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin-right: 5px;
}
/*列表开始*/
.blogs_listPic{

}
.blogs{
-webkit-box-shadow: 0 2px 5px 0 rgba(146, 146, 146, .1); -moz-box-shadow: 0 2px 5px 0 rgba(146, 146, 146, .1); box-shadow: 0 2px 5px 0 rgba(146, 146, 146, .1);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background: #fff;
    padding: 0 16px;
    margin-top: 20px;
}
.empty{
    text-align: center;
    padding: 10px 0;
}
.blogs_head{
    padding-left:24px;
    height: 44px;
    line-height: 44px;
    color: #333;
    font-size: 16px;
    border-bottom:1px solid #eee;
}
.blogs_head a:last-child{
    padding: 0 15px;
}
.blogs_head a.active{color: #356dd0}
.blogs_cont{
    padding:20px 0;
}
.blogs_cont.blogs_cont1 h3>a{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 90%;
        vertical-align: top;
}
.blogs_type{
    font-size: 12px;
    color: #356dd0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    padding:2px 4px;
    border: 1px solid #356dd0;
    margin-right: 8px;
}
.blogs_foot{
    margin-top: 16px;
}
.blogs_foot>ul,.blogs_foot>ul>li{
    height: 24px;
}
.blogs_avatar{
    width: 24px;
    height: 24px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    margin-right: 8px;
}
.blogs_name,.blogs_time,.blogs_view,.blogs_comment{
    height: 24px;
    line-height: 24px;
    margin-right: 8px;
    font-size: 12px;
    color: #999;
}
.blogs_time{
    margin-right: 20px;
}
.blogs_view,.blogs_comment{
    padding-left: 24px;
}
.blogs_item{
    border-bottom: 1px solid #eee;
}
.blogs_info{
    position: relative;
    margin-top: 16px;
}
.blogtext{
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    line-height: 27px;
    -webkit-line-clamp: 3;
}
.img_animate{
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    position: absolute;
    top: 0;
    left:0;
    overflow: hidden;
}
.img_animate:hover .blogs_pic{
    transform:scale(1.1);
    -ms-transform:scale(1.1); 	/* IE 9 */
    -moz-transform:scale(1.1); 	/* Firefox */
    -webkit-transform:scale(1.1); /* Safari 和 Chrome */
    -o-transform:scale(1.1); 	/* Opera */
}
.blogs_pic{
    width: 200px;
    height: 120px;
    -webkit-transition: 0.5s;
    -moz-transition:  0.5s;
    -ms-transition:  0.5s;
    -o-transition:  0.5s;
    transition:  0.5s;
}
.blogs_describe{
    padding-left: 216px;
    height: 120px;
}
.divp{
        height: 120px;
    position: relative;
}
.divp>p{
  overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    line-height: 27px;
}
.blogs_foot1{
    position: absolute;
    bottom: 0;
    left:216px
}
.ulw{
    width: 100%;
    left: 0;
}
.blogs_edit{
    color: #ff1c1c;
    cursor: pointer;
    padding: 0 10px;
}
/*列表结束*/
/*banner开始*/
.banner{
    width:100%;
    height: 90px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    margin:20px 0 0 0;
}
/*banner结束*/
/*aside开始*/
.aside_public,.aside_hot,.aside_goodperson,.aside_autor{

    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background: #fff;
    padding: 0 16px 16px 16px;
    margin-top: 9px;
}
.blogs_number{
    text-align: center;
    height: 103px;
}
.blogs_number>ul{
    padding-top:30px;
}
.blogs_number>ul>li{
    width: 33.33%;
}
.blogs_number .number{
    font-size: 18px;
    color: #333;
}
.blogs_cal{
    margin-top: 16px;
}
.blogs_item:last-child{
    border-bottom: none;
}
.swiper_pic{
    width: 100%;
    height: 160px;
    margin-bottom: 16px;
}
.swiper-pagination{
    padding:14px 0 0 0;
    border-top: 1px solid #eee;
    bottom: 0!important;
}
.swiper-pagination .swiper-pagination-bullet {
    width: 6px;
    height: 6px;
}
.swiper-wrapper{
    height: 288px;
}
.swiper-slide h4{
   white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

}
.aside_goodperson_item_user{
    position: relative;
    margin-left: 30px;
}
.aside_goodperson_item_num{
    height: 44px;
    line-height: 44px;
}
.aside_goodperson_item_user_avatar{
    width: 44px;
    height: 44px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
}
.aside_goodperson_item_user_avatar1{
     width: 44px;
    height: 44px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}
.aside_autor_item{
    font-size: 12px;
}
.aside_goodperson_item {
    margin: 16px 0 0 0;
}
.aside_goodperson_item_user_info{
    padding-left: 56px;
    font-size: 12px;
    height: 44px;
    line-height: 24px;
}
.aside_autor .flex_justify{
    margin: 16px 0 0 0;
}
/*aside结束*/
/*文章css*/
.fiter{
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background: #fff;
    /*padding: 16px 16px 0 16px;*/
    margin-top: 20px;
}
.fiter_nav{
    border-right:0;
    width: 180px;
    height: 105px;
    position: relative;
     background:#356dd0;
    color: #fff;
}
.fiter_nav>ul>li{
    padding:8px 16px;
}
.fiter_active{
    background:#fff;
    color: #666;
}
.er_meau{
        position: absolute;
    top: 10px;
    left: 180px;
    width: 678px;
    display: none;
    border-bottom-right-radius: 3px;
    padding-left: 20px;
    background: #fff;
    z-index: 8;
    color: #999;
}
.er_meau_active{
    display: block;
}
.fiter_nav>ul>li>ul>li{
    margin-right: 12px;
    cursor: pointer;
}


.follow{
    display: flex;
}

.follow li{
    padding-left: 15px;
}
.follow li:first-child{
    padding-left: 0;
}
.nav li a.active{
    color: #356dd0;
}
/*padding: 30px 15px; margin-bottom: 20px; background: #FFF;box-shadow: 0 2px 5px 0 rgba(146, 146, 146, .1);  -webkit-box-shadow: 0 2px 5px 0 rgba(146, 146, 146, .1); -moz-box-shadow: 0 2px 5px 0 rgba(146, 146, 146, .1);*/
.sidebar .sidebars { padding: 24px 15px; margin-bottom: 20px; background: #fff; box-shadow: 0 2px 5px 0 rgba(146, 146, 146, .1); -webkit-box-shadow: 0 2px 5px 0 rgba(146, 146, 146, .1); -moz-box-shadow: 0 2px 5px 0 rgba(146, 146, 146, .1);}
.hometitle { font-size: 18px; color: #282828; font-weight: 600; margin: 0; text-transform: uppercase; padding-bottom: 15px; margin-bottom: 25px; position: relative; }
.hometitle:after { content: ""; background-color: #282828; left: 0; width: 50px; height: 2px; bottom: 0; position: absolute; -webkit-transition: 0.5s; -moz-transition: 0.5s; -ms-transition: 0.5s; -o-transition: 0.5s; transition: 0.5s; }
.sidebar div:hover ::after { width: 70px; }

.sidenews li { margin: 0 0 20px 0; overflow: hidden }
.sidenews li p {
    line-height: 24px; color: #888; font-size: 15px;
    overflow: hidden; text-overflow: ellipsis; -webkit-box-orient: vertical; display: -webkit-box; -webkit-line-clamp: 2;

}
.dianj a{
      overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    -webkit-line-clamp: 3;
}
.sidenews li a { color: #48494d;

}
.loading{
        text-align: center;
    margin-top: 10px;
}
.sidenews li a:hover { color: #356dd0; }
.sidenews i { width: 88px;
    height: 60px;
    overflow: hidden;
    display: block;
    border: #efefef 1px solid;
    float: right;
    margin-left: 10px;}
.sidenews img { height: 100%; max-height: 75px; margin: auto; -moz-transition: all .5s ease; -webkit-transition: all .5s ease; -ms-transition: all .5s ease; -o-transition: all .5s ease; transition: all .5s ease; transition: all 0.5s; }
.sidenews li:hover i img { transform: scale(1.1) }
.sidenews span { font-size: 12px; color: #9A9A9A; margin-top: 10px; display: block }

.zhan li{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
