
.section{

    width: 1200px;
    margin: 0 auto;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

article{
    width: 880px;

}
aside{
    width: 300px;
}
.container{
    margin-top: 20px;
    width: 100%!important;
    border: 1px solid #ddd;
    -webkit-border-radius: 3px;
    padding: 0!important ;
    background: #fff;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
p{
    margin-bottom: 0!important;
}
.nav{
    height: 44px;
    line-height: 44px;
    color: #333;
    padding: 0 16px!important;
    border-bottom: 1px solid #ddd;
}
.nav input{
    height: 30px;
    outline: none;
    border: none;
    color: #999;
}
.nav input::placeholder{
    font-size: 14px;
}
.nav  i{
    color: #999;
}
.fr{
    float: right;
}
.fl{
    float: left;
}
.blogs{
    padding: 20px 16px;
    border-top: 1px solid #ddd;
    overflow: hidden;
    position: relative;
}
.blogs:nth-of-type(2){
    border-top:none;
}
.blogs a{
    text-decoration: #666;
    color: #333;
}
.blogs .blogtitle {
    margin: 0 0 20px 0;
    font-size: 20px;
    overflow: hidden;
}
.blogtitle a{
    font-weight: bold;
}
.blogs .blogpic {
    float: left;
    width: 25%;
    max-height: 170px;
    margin-right: 2%;
    display: block;
    overflow: hidden;
}
.blogs .blogpic :hover img {
    transform: scale(1.1);
}
.blogs .blogtext {
    font-size: 14px;
    color: #566573;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    -webkit-line-clamp: 3;
}
.blogs .blogpic img {
    width: 100%;
    height: auto;
    -webkit-transition: all 0.6s ease;
    -moz-transition: all 0.6s ease;
    -o-transition: all 0.6s ease;
    transition: all 0.6s ease;
}

.bloginfo {
    overflow: hidden;
    position: absolute;
    bottom:20px;
    left: 28%;
}
.bloginfo1{
    position: static;
}
.bloginfo ul{
    padding-left: 0;
}
.bloginfo ul li {
    float: left;
    font-size: 12px;
    margin: 0 16px 0 0;
    display: inline-block;
}
.bloginfo ul li img{
    width: 26px;
    height: 26px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    margin-right: 5px;
}
.gray{
    color: #999;
}
.gray::before{
    padding-right: 5px;
}
/**
aside
 */
.click div {
    padding: 35px 0px;
    margin-bottom: 20px;
    background: #FFF;
    -webkit-box-shadow: 0 2px 5px 0 rgba(146, 146, 146, .1);
    -moz-box-shadow: 0 2px 5px 0 rgba(146, 146, 146, .1);
    box-shadow: 0 2px 5px 0 rgba(146, 146, 146, .1);
}
.click:hover .hometitle:after {
    width: 100px;
}
.hometitle {
    font-size: 18px;
    color: #282828;
    font-weight: 600;
    margin: 0;
    text-transform: uppercase;
    padding-bottom: 16px;
    margin-bottom: 25px;
    position: relative;
    padding-left: 16px;
}
.hometitle:after {
    content: "";
    background-color: #282828;
    left: 16px;
    width: 50px;
    height: 2px;
    bottom: 0;
    position: absolute;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}
.sidenews{
    padding:0 16px;
}
.sidenews li {
    margin: 0 0 20px 0;
    overflow: hidden;
}
.sidenews i {
    width: 100px;
    height: 75px;
    overflow: hidden;
    display: block;
    border: #efefef 1px solid;
    float: left;
    margin-right: 10px;
}
.sidenews img {
    height: 100%;
    max-height: 75px;
    margin: auto;
    -moz-transition: all .5s ease;
    -webkit-transition: all .5s ease;
    -ms-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
    transition: all 0.5s;
}
.sidenews li:hover i img {
    transform: scale(1.1);
}
.sidenews li p {
    line-height: 24px;
    color: #888;
    font-size: 16px;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    -webkit-line-clamp: 2;
}
.sidenews li a {
    color: #48494d;
}
.sidenews span {
    font-size: 12px;
    color: #9A9A9A;
    margin-top: 10px;
    display: block;
}
.xinwen{
    padding:0 16px;
}
.xinwen li{
    line-height: 30px;
    height: 30px;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    overflow: hidden;
}
.xinwen li a{
    color: #666;
}

.jiazai{
    width: 120px;
    margin: 16px auto;
    display: block!important;
}
button{
    outline: none;
}
.tuijian{
    background: #fff;
    border: 1px solid #ddd;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    margin-bottom: 20px;
}
.tuijian_head{
    height: 44px;
    line-height: 44px;
    padding:0 16px;
    color: #333;
    border-bottom: 1px solid #ddd;
}