*{
    margin:0;
    padding:0;
}
#toTop{display: none;text-decoration: none;position: fixed;bottom: 10px;right: 10px;overflow: hidden;width: 50px;height: 50px;border: none;text-indent: 100%;background: url(../img/返回顶部.png) no-repeat #1F2729 10px 15px;text-align: center;}

body{
    font-family:"-apple-system,PingFang SC,Hiragino Sans GB,Microsoft YaHei,Helvetica Neue,Arial,sans-serif";
    font-size: 14px;
    color: #666;
    overflow-x: hidden;
    background: #f5f5f5;
}
ul,ul>li{
    list-style: none;
}
a{
    text-decoration: none;
    cursor: pointer;
    display: inline-block;
    color: #666;
}
a:hover,.change:hover{
    color:#356dd0
}
span{
    display: inline-block;
}
.fl{
    float: left;
}
.fr{
    float: right;
}
/*.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden}*/
/*.clearfix{*+height:1%;}*/
.clearfix:after{visibility:hidden;display:block;font-size:0;content:" ";clear:both;height:0}
.img_cover{
    background-position: 50%!important;
    background-size: cover!important;
}
.flex{
    display: flex;
}
.flex_justify{
    display: flex;
    justify-content: space-between;
}
.change{
    font-size: 12px;
}
.main{
    width:1200px;
    margin:0 auto;
}
article{
    width: 880px;
}
aside{
    width: 300px;
}
/*头部开始*/
header{
    width:100%;
    height: 60px;
    line-height: 60px;
    background: #fff;
    -webkit-box-shadow: 1px 1px 10px #ddd;
    -moz-box-shadow: 1px 1px 10px #ddd;
    box-shadow: 1px 1px 10px #ddd;
}
.logo{
    margin-right: 100px;
}
nav>ul>li{
    padding: 0 20px;
    font-size: 16px;
}
.user>ul>li{
    padding-left: 20px;
    margin-left: 20px;
}
.avatar>a{
    width: 32px;
    height: 32px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    margin-top:14px;
}
.avatar{
    position: relative;
}
.meau{
    position: absolute;
    top: 68px;
    left: 0;
    width: 100px;
    background: #fff;
    -webkit-box-shadow: 1px 1px 10px #eee;
    -moz-box-shadow: 1px 1px 10px #eee;
    box-shadow: 1px 1px 10px #eee;
    z-index: 999;
    line-height: 40px;
}
.meau_hide{
    display: none;
}
.meau>li>a{
    width: 100%;
}
.meau>li{
    padding:0 12px;
}
.meau>li:hover{
    background: #f5f5f5;
}
/*头部结束*/
.footer{
    height: 60px;
    background: #303030;
    text-align: center;
     color: #ddd;
    line-height: 60px;
    margin-top: 80px;
}
.footer a{
    color: #ddd;
}

/**
分页
 */

.pagination {
    display: inline-block;
    padding-left: 0;
    margin: 20px 0;
    border-radius: 4px;
}
.pagination>li {
    display: inline;
}
.pagination>li:first-child>a, .pagination>li:first-child>span {
    margin-left: 0;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.btn.disabled, .btn[disabled], fieldset[disabled] .btn {
    cursor: not-allowed;
    filter: alpha(opacity=65);
    -webkit-box-shadow: none;
    box-shadow: none;
    opacity: .65;
}
.pagination>li>a, .pagination>li>span {
    position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #337ab7;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd;
}
.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}
.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
    z-index: 3;
    color: #fff;
    cursor: default;
    background-color: #337ab7;
    border-color: #337ab7;
}
.pagination>li>a, .pagination>li>span {
    position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #337ab7;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd;
}
.pagination>li>a, .pagination>li>span {
    position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #337ab7;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd;
}




.pagination>li:last-child>a, .pagination>li:last-child>span {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.btn.disabled, .btn[disabled], fieldset[disabled] .btn {
    cursor: not-allowed;
    filter: alpha(opacity=65);
    -webkit-box-shadow: none;
    box-shadow: none;
    opacity: .65;
}
.pagination>li>a, .pagination>li>span {
    position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #337ab7;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd;
}
.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}
.hrefto{
    height: 34px;
    line-height: 34px;
    margin-left: 12px;
}
.hrefto .form-control{
    height: 30px;
    line-height: 30px;
    width: 68px;
    margin-left: 8px;
    border: 1px solid #dcdcdc;
}