body{
    background-color: #f7f7f7!important;
    font-size: 16px!important;
}
ul{
    list-style: none;
}
header{
    width: 100%;
    background-color: #fff;
    color: #666;
}
.header{
    width: 1200px;
    margin: 0 auto;
     display: flex;
    height: 60px;
    justify-content: space-between;
    line-height: 60px;
}
.logo{
    width: 60px;
}
.logo img{
    width: 100%;
}
nav{
    width: 60%;
}
nav ul{
    display: flex;
    padding-left: 10px;
}
nav ul li{
    padding: 0 20px;
}
.user-md{
    display: flex;
}
.user-md p i{
    padding: 0 5px;
}
.user{
    padding-left: 10px;
    position: relative;
}
.user img{
    width: 38px;
    height: 38px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}
.user ul{
    position: absolute;
    padding-left: 0;
    width: 100px;
    z-index: 2;
    margin-bottom: 0;
    left: -10px;
    text-align: center;
    display: none;
    background: #fff;
}
.user ul li{
    line-height: 36px;
    cursor: pointer;
    border-bottom: 1px solid #ccc;
}
.user ul li:last-child{
    border-bottom: none;
}
.register{
    padding-left: 10px;
}
a:hover{
    text-decoration: none!important;
    color: #666;
}
.register a{
    cursor: pointer;
    padding: 0 10px;
    color: #666;
}
.modal-footer{
    background: #000;
    margin-top: 15px;
    /*position: fixed;*/
    /*bottom: 0;*/
    width: 100%;
}
.modal-footer p{
    text-align: center;
    color: #fff;
}
.modal-footer p a{
    color: #fff;
}