{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- 页面关键词 keywords -->
    <meta name="keywords" content="{% block keywords %}

    {% endblock %}">
    <!-- 页面描述内容 description -->
    <meta name="description" content="{% block desc %}

    {% endblock %}">
    <!-- 定义网页作者 author -->
    <meta name="author" content="author,email address">

    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/normalize.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/public1.css' %}">
    {% block css %}{% endblock %}
    <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
    <script src="https://cdn.bootcss.com/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>

    {% block link_js %}

    {% endblock %}
</head>
<body>
<header>
    <div class="header">
        <div class="logo"><img src="http://www.fengjinqi.com/uploads/avatar/a3fa9ffc500c08522bea28871c0be419.jpg" alt=""></div>
        <nav>
             <ul>
            <li><a href="/index">首页</a></li>
            <li><a href="{% url 'article:index' %}">文章</a></li>
            <li>社区</li>
            <li>教程</li>
            <li>关于本站</li>
        </ul>
        </nav>
        <div class="user-md">
            <p><a href="{% url 'article:created' %}"><i class="glyphicon glyphicon-edit"style="color: #666"></i>写文章</a>&nbsp;&nbsp;<i class="glyphicon glyphicon-phone"></i>手机阅读</p>
             {% if request.user.is_authenticated %}
                <div class="user">
                    <img src="http://www.fengjinqi.com/uploads/avatar/a3fa9ffc500c08522bea28871c0be419.jpg" alt="">
                    <ul>
                        <li>个人中心</li>
                        {% if user.is_staff %}
                        <li>系统管理</li>
                        <li><a href="{% url 'logou' %}">退出登录</a></li>
                        {% endif %}
                    </ul>
                </div>
                 {% else %}
                 <div class="register"><a href="/login">登录</a>| <a href="/register">注册</a></div>
             {% endif %}


        </div>
    </div>

</header>
{% block content %}

{% endblock %}
<footer class="modal-footer">
    <p>Powered by
        <a>会飞的鱼</a>
                    <a href="http://www.miitbeian.gov.cn" target="_blank">蜀ICP备18023241号-1</a>
    </p>
</footer>
<script>
    $(function () {
        $('.user').hover(function () {
            $(this).find('ul').fadeIn()
        },function () {
             $(this).find('ul').fadeOut()
        })
    })
</script>
{% block js %}

{% endblock %}
</body>
</html>