{% extends 'pc/base.html' %}
{% load static %}
{% block title %}
社区论坛
{% endblock %}
{% block authors %}
author 冯金琪
{% endblock %}
{% block keywords %}
问题求助、代码、技术分享、综合讨论、求职招聘
{% endblock %}
{% block desc %}
问题求助、代码、技术分享、综合讨论，在这里你可以进行技术分享、帮助别人解决问题。求职招聘，网站反馈等
{% endblock %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/forum.css' %}">
{% endblock %}
{% block content %}
    <section class="main">
        <article class="fl">
        <div class="forum">
            <ul id="plate" class="clearfix">
                {% for foo in plate %}
                    <li class="flex">
                        <div class="tieImg"></div>
                        <div>
                            <div class="tieNUm">{{ foo.get_count}}</div>
                            <div class="tieNmae">{{ foo.name }}</div>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        <div style="background: #fff;">
            <div class="f-name">
                <span class="active">最新帖子</span>
                <span>推荐帖子</span>
                <span>热门帖子</span>
            </div>

            <ul class="list">
                {% for foo in forum %}
                    <li class="clearfix">
                        <img src="{% if foo.authors.user_imag %}
                    {{ MEDIA_URL }}{{ foo.authors.user_imag }}
                    {% else %}
                    {{ foo.authors.user_image }}
                    {% endif %}" class="user fl" title="{{ foo.authors.username }}"width="40px">
                    <div class="list-text fl">
                        <p class="forun-title"><a href="{% url 'forum:detail' foo.id %}">{{ foo.title }}</a></p>
                        <p class="forun-info">来自于 {{ foo.category.name }}  {{ foo.add_time }} </p>
                    </div>
                    <div class="fr flex forun-num">
                        <div>评论6</div>
                        <div>浏览{{ foo.click_nums }}</div>
                    </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
        </div>
        </article>
         <aside class="fr">
             <div class="sidebar">
                <div class="tuijian">
                    <a href="{% url 'forum:add' %}">写帖子</a>
                </div>
             </div>
            <div class="sidebar">
                <div class="tuijian">
                    <h2 class="hometitle" style="margin-bottom: 0">最新求职</h2>
                    <ul class="zhan">
                        <li class="clearfix" style="margin-top: 15px;">
                            <a href="">
                                <p class="forun-title">30岁之后程序员该怎么办？</p>
                                <p class="forun-info" style="font-size: 12px;margin: 0">来自于 问题求助  2019年3月28日 11:17 </p>
                            </a>
                    </li>
                         <li class="clearfix"style="margin-top: 15px;">
                            <a href="">
                                <p class="forun-title">30岁之后程序员该怎么办？</p>
                                <p class="forun-info" style="font-size: 12px;;margin: 0">来自于 问题求助  2019年3月28日 11:17 </p>
                            </a>
                    </li>
                    </ul>
                </div>
             </div>
              <div class="sidebar">
                <div class="tuijian">
                    <h2 class="hometitle">交流群</h2>
                    <ul class="sidenews zhan">
                        <p>学习讨论:180522631</p>
                          <br>
                        <p>前端招聘群:135684334</p>

                    </ul>
                </div>
             </div>
         </aside>
    </section>
{% endblock %}