{% extends 'pc/base.html' %}
{% load static %}
{% block title %}
社区论坛
{% endblock %}
{% block authors %}
author 冯金琪
{% endblock %}
{% block keywords %}
问题求助、代码、技术分享、综合讨论、求职招聘
{% endblock %}
{% block desc %}
问题求助、代码、技术分享、综合讨论，在这里你可以进行技术分享、帮助别人解决问题。求职招聘，网站反馈等
{% endblock %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/forum.css' %}">
{% endblock %}
{% block content %}
    <section class="main">
        <article class="fl">
        4
        </article>
         <aside class="fr"></aside>
    </section>
{% endblock %}