{% extends 'pc/base.html' %}
{% load static %}
{% load i18n %}
<title>{% block title %}
    首页
{% endblock %}</title>
{% block css %}
{#    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">#}
<link rel="stylesheet" href="{% static 'css/swiper.min.css' %}">
<link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock %}
{% block content %}
    <section class="main clearfix">
    <article class="fl">
     {% comment %}   <div class="blogs">
            <div class="blogs_head" style="background: url({% static 'img/recommend.png' %})no-repeat 0 50%;">今日推荐</div>
            <div class="blogs_cont">
<h3><span class="blogs_type">{{ recommend.first.recommends.category.name }}</span><a  href="{% url 'article:detail' recommend.first.recommends.id %}">{{ recommend.first.recommends.title }}</a></h3>
                <div class="blogs_foot">
                    <ul class="clearfix">
                        <li class="fl">
                             <a href="{% url 'user:author_detaile' recommend.first.recommends.authors.id  %}" class="clearfix">
                                 <span class="fl img_cover blogs_avatar" style="background: url({{MEDIA_URL }}{{ recommend.first.recommends.authors.user_imag }})no-repeat; background-position: 50%!important"></span>
                                 <span class="fl blogs_name">{{ recommend.first.recommends.authors.username }}</span>
                             </a>
                         </li>
                        <li class="fl blogs_time">发布于:{{ recommend.first.recommends.add_time }}</li>
                      <li class="fl blogs_view" style="background: url({% static 'img/eye.png' %})no-repeat 0 50%;">{{ recommend.first.recommends.click_nums }}</li>
                            <li class="fl blogs_comment" style="background: url({% static 'img/comment.png' %})no-repeat 0 50%;">{{ recommend.first.recommends.get_number }}</li>
                    </ul>
                </div>


            </div>
        </div>{% endcomment %}
        <div class="banner" style="background: url({% static 'img/banner.png' %})no-repeat 0 50%;"></div>
         <div class="blogs">
             <div class="blogs_head" style="background: url({% static 'img/recommend.png' %})no-repeat 0 50%;">
                 <ul class="follow">
                     <li>最新文章</li>
                 </ul>
             </div>
             <div>
                 {% for articles in article.object_list %}
                    <div class="blogs_item">
                     <div class="blogs_cont blogs_cont1">
                         <h3><span class="blogs_type">{{ articles.category.name }}</span><a href="{% url 'article:detail' articles.id %}">{{ articles.title }}</a></h3>
                             <div class="blogs_info clearfix">
                                  <div class="img_animate fl ">
                                      <a href="{% url 'article:detail' articles.id %}"><div class="blogs_pic img_cover" style="background: url({% if articles.list_pic %}
                                      {{ MEDIA_URL }}{{ articles.list_pic }}
                                          {% else %}
                                          {% static 'img/pic/a5e8b0e574b0b165092b069f9c819f9a.jpg' %}
                                      {% endif %})no-repeat;"></div></a>
                                  </div>
                                  <div class="fl blogs_describe">
                                      <p class="blogtext">{{ articles.desc }}</p>
                                  </div>
                                  <div class="blogs_foot blogs_foot1">
                            <ul class="clearfix">
                                <li class="fl">
                                     <a href="{% url 'user:author_detaile' articles.authors.id %}" class="clearfix">
                                         <span class="fl img_cover blogs_avatar" style="background: url(
                                         {% if articles.authors.user_imag%}
                            {{ MEDIA_URL }}{{ articles.authors.user_imag }}
                            {% else %}
                            http://www.fengjinqi.com/uploads/avatar/a3fa9ffc500c08522bea28871c0be419.jpg
                        {% endif %})no-repeat"></span>
                                         <span class="fl blogs_name">{{ articles.authors.username }}</span>
                                     </a>
                                 </li>
                                <li class="fl blogs_time">发布于：{{ articles.add_time }}</li>
                                <li class="fl blogs_view" style="background: url({% static 'img/eye.png' %})no-repeat 0 50%;"> {{ articles.click_nums }}</li>
                                <li class="fl blogs_comment" style="background: url({% static 'img/comment.png' %})no-repeat 0 50%;">

                                  {{ articles.get_number }}



                                    </li>
                            </ul>
                        </div>
                             </div>
                     </div>
                 </div>
                 {% endfor %}
             </div>
         </div>
    {% if article.object_list.count >= 1 %}
        <div class="pageturn">
           <ul class="pagination">
{#               <li><a href="/index">首页</a></li>#}
               {% if article.has_previous %}
                   <li class="long"><a href="?{{ article.previous_page_number.querystring }}" class="prev">上一页</a></li>
               {% else %}
                   <li class="long"><span class="disabled prev btn"disabled="">上一页</span></li>
               {% endif %}
               {% for page in article.pages %}
                   {% if page %}
                       {% ifequal page article.number %}
                           <li class="active"><a href="?{{ page.querystring }}">{{ page }}</a></li>
                       {% else %}
                           <li><a href="?{{ page.querystring }}" class="page">{{ page }}</a></li>
                       {% endifequal %}
                   {% else %}
                       <li><span class="disabled  btn" disabled="">...</span></li>
                   {% endif %}
               {% endfor %}
               {% if article.has_next %}
                   <li class="long"><a href="?{{ article.next_page_number.querystring }}" class="next"> 下一页</a></li>
               {% else %}
                   <li class="long"><span class="disabled next btn"disabled=""> 下一页</span></li>
               {% endif %}
{#               <li><a href="?page={{ article.paginator.num_pages }}">尾页</a></li>#}
               <li class="hrefto">跳转到<input type="text"class="form-control" name="page"></li>
           </ul>
            当前{{ article.number }}/总共{{ article.paginator.num_pages }}页
       </div>
    {% endif %}

    </article>

    <aside class="fr">
        {% include 'pc/base_aside.html' %}
       {% comment %} <div class="sidebar">
      <div class="tuijian">
        <h2 class="hometitle">站长推荐</h2>
        <ul class="sidenews zhan">
             {% for foo in recommend %}
                    <li><a href="{% url 'article:detail' foo.recommends.id %}">{{ foo.recommends.title }}</a></li>
                {% endfor %}
        </ul>
    </div>

    </div>{% endcomment %}
        {% if links.count > 0 %}
             <div class="sidebar">
      <div class="tuijian">
        <h2 class="hometitle">友情链接</h2>
        <ul class="sidenews zhan">
             {% for foo in links %}
                    <li><a href="{{ foo.url }}">{{ foo.title }}</a></li>
                {% endfor %}
        </ul>
    </div>

    </div>
        {% endif %}
        <div class="sidebar">
            <div class="tuijian">
        <h2 class="hometitle">交流群</h2>
        <ul class="sidenews zhan">
            <p>学习讨论:180522631</p>
              <br>
            <p>前端招聘群:135684334</p>

        </ul>
    </div>
        </div>
        <div class="sidebar">
      <div class="tuijian">
        <h2 class="hometitle">商务合作</h2>
        <ul class="sidenews zhan">
            <p>邮箱:<a target="_blank" href="http://mail.qq.com/cgi-bin/qm_share?t=qm_mailme&email=iuzv5O3g4_T748rs7_Tt4OPk__Ok6eXn" style="text-decoration:none;">fengjinqi@fengjinqi.com</a></p>
            <br>
            <p>QQ:1218525402</p>
        </ul>
    </div>

    </div>
     {% comment %}   <div class="aside_goodperson">
            <div class="blogs_head" style="background: url(img/public.png)no-repeat 0 50%;">热门牛人<a class="fr change">更多</a></div>
            <div>
            {{ count }}
                {% for foo in count %}
                    {% for n in foo.data %}
                        {{ n.username }}
                         <div class="aside_goodperson_item clearfix">
                    <div class="fl aside_goodperson_item_num">{{ forloop.counter }}</div>
                    <div class="fl aside_goodperson_item_user">
                        <div class="aside_goodperson_item_user_avatar img_cover" style="background: url(http://www.fengjinqi.com/uploads/avatar/a3fa9ffc500c08522bea28871c0be419.jpg)no-repeat"></div>
                        <div class="aside_goodperson_item_user_info">
                            <p>{{ n.username }}</p>
                            <p>更博：{{ n.article_add_set.count }}</p>
                        </div>
                    </div>
                    <div class="fr aside_goodperson_item_num follow" data-actions-icnt="{{ n.id }}" onclick="flollw(this)">

                    {{ n.follow.count }}
                        {% if request.user.id == n.follow.first.fan.id%}

                            已关注
                            {% else %}
                            关注
                        {% endif %}</div>
                    </div>

                    {% endfor %}



                {% endfor %}


            </div>
        </div>
        <div class="aside_autor">
            <div class="blogs_head" style="background: url(img/public.png)no-repeat 0 50%;">推荐作者 <a class="fr change">换一组</a></div>
            <div class="flex_justify">
                <div class="aside_autor_item">
                    <p class="aside_goodperson_item_user_avatar1 img_cover" style="background: url(http://www.fengjinqi.com/uploads/avatar/a3fa9ffc500c08522bea28871c0be419.jpg)no-repeat"></p>
                    <p>-狙击手-</p>
                    <p>更博：34</p>
                </div>
                <div class="aside_autor_item">
                    <p class="aside_goodperson_item_user_avatar1 img_cover" style="background: url(http://www.fengjinqi.com/uploads/avatar/a3fa9ffc500c08522bea28871c0be419.jpg)no-repeat"></p>
                    <p>-狙击手-</p>
                    <p>更博：34</p>
                </div>
                <div class="aside_autor_item">
                    <p class="aside_goodperson_item_user_avatar1 img_cover" style="background: url(http://www.fengjinqi.com/uploads/avatar/a3fa9ffc500c08522bea28871c0be419.jpg)no-repeat"></p>
                    <p>-狙击手-</p>
                    <p>更博：34</p>
                </div>
            </div>
        </div>
{% endcomment %}
    </aside>
</section>
{% endblock %}

{% block js %}
<script src="{% static 'js/swiper.min.js' %}"></script>
<script src="{% static 'js/index.js' %}"></script>
    <script>
    $(function () {
        $.ajax({
            url: '/api/article_list/',
            type: 'get',
            dataType:'json',
            success:function (data) {
                console.log(data)
            },
            error:function (err) {
            }
        })
    })
    $("input[name='page']").blur(function () {
        if($(this).val()==""){
            return false
        }else{
        window.location.href='/index?page='+$(this).val()}
    })
    $("input[name='page']").keydown(function (evt) {
        if (evt.keyCode==13){
             if($(this).val()==""){
            return false
        }else{
        window.location.href='/index?page='+$(this).val()}
        }

    })

     $(window).scroll(function(){
      var page = 1;
      totalheight = parseFloat($(window).height()) + parseFloat($(window).scrollTop());
       if($(document).height() <= totalheight){
           page++;
           $.ajax({
            url:'/api/article_list/?page='+page,
            type:'get',
            dataType:'json',
            success:function(result){
              console.log(result)
            }
           });
      //     alert("到底部了");
       }
  });

    function flollw (obj){
        var _self= $(obj)
        follow = $(obj).attr('data-actions-icnt')
          $.ajax({
                url:'/login/author/',
                type:'post',
                data:{follow:follow},
                  headers:{'X-CSRFToken':$.cookie('csrftoken')},
                success:function (data) {
                    if(data.status==201 && data.message=='不能自己关注自己'){
                        alert('不能自己关注自己')
                    }else if(data.status==200 && data.message=='成功关注'){
                        _self.html('已关注')
                    }else if(data.status==200 && data.message=='已取消关注'){
                        _self.html('关注')
                    }else if(data.status==302&&data.message=='未登录'){
                        //window.location.href='/login'
                    }
                    console.log(data)
                },
                error:function (xhr) {
                    console.log(xhr)
                }
            })
    }

    </script>
{% endblock %}
