{% extends 'pc/base.html' %}
{% load static %}
<title>{% block title %}
    首页
{% endblock %}</title>
{% block css %}
<link rel="stylesheet" href="{% static 'css/swiper.min.css' %}">
<link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock %}
{% block content %}
    <section class="main clearfix">
    <article class="fl">
        <div class="blogs">
            <div class="blogs_head" style="background: url({% static 'img/recommend.png' %})no-repeat 0 50%;">今日推荐</div>
            <div class="blogs_cont">
                <h3><span class="blogs_type">前端</span><a href="">Nginx 动静分离与负载均衡的实现</a></h3>
                <div class="blogs_foot">
                    <ul class="clearfix">
                        <li class="fl">
                             <a href="" class="clearfix">
                                 <span class="fl img_cover blogs_avatar" style="background: url(http://www.fengjinqi.com/uploads/avatar/a3fa9ffc500c08522bea28871c0be419.jpg)no-repeat"></span>
                                 <span class="fl blogs_name">管理员</span>
                             </a>
                         </li>
                        <li class="fl blogs_time">发布于：2018-12-23 12:30:45</li>
                        <li class="fl blogs_view" style="background: url(img/public.png)no-repeat 0 50%;">9</li>
                        <li class="fl blogs_comment" style="background: url(img/public.png)no-repeat 0 50%;">2</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="banner" style="background: url({% static 'img/banner.png' %})no-repeat 0 50%;"></div>
         <div class="blogs">
             <div class="blogs_head" style="background: url({% static 'img/recommend.png' %})no-repeat 0 50%;">
                 <ul class="follow">
                     <li>最新文章</li>
                     <li>我关注的</li>
                 </ul>
             </div>
             <div>
                 {% for articles in article %}
                    <div class="blogs_item">
                     <div class="blogs_cont blogs_cont1">
                         <h3><span class="blogs_type">{{ articles.category.name }}</span><a href="{% url 'article:detail' articles.id %}">{{ articles.title }}</a></h3>
                             <div class="blogs_info clearfix">
                                  <div class="img_animate fl ">
                                      <a href="{% url 'article:detail' articles.id %}"><div class="blogs_pic img_cover" style="background: url({% if articles.list_pic %}
                                      {{ MEDIA_URL }}{{ articles.list_pic }}
                                          {% else %}
                                          {% static 'img/pic/a5e8b0e574b0b165092b069f9c819f9a.jpg' %}
                                      {% endif %})no-repeat;"></div></a>
                                  </div>
                                  <div class="fl blogs_describe">
                                      <p class="blogtext">{{ articles.desc }}</p>
                                  </div>
                                  <div class="blogs_foot blogs_foot1">
                            <ul class="clearfix">
                                <li class="fl">
                                     <a href="" class="clearfix">
                                         <span class="fl img_cover blogs_avatar" style="background: url(http://www.fengjinqi.com/uploads/avatar/a3fa9ffc500c08522bea28871c0be419.jpg)no-repeat"></span>
                                         <span class="fl blogs_name">{{ articles.authors.username }}</span>
                                     </a>
                                 </li>
                                <li class="fl blogs_time">发布于：{{ articles.add_time }}</li>
                                <li class="fl blogs_view" style="background: url({% static 'img/eye.png' %})no-repeat 0 50%;"> {{ articles.click_nums }}</li>
                                <li class="fl blogs_comment" style="background: url({% static 'img/comment.png' %})no-repeat 0 50%;"> {{ articles.click_nums }}</li>
                            </ul>
                        </div>
                             </div>
                     </div>
                 </div>
                 {% endfor %}
             </div>
         </div>

    </article>

    <aside class="fr">
{#        <div class="aside_public">#}
{#            <div class="blogs_head" style="background: url(img/public.png)no-repeat 0 50%;">我要写文章</div>#}
{#            <div class="blogs_number">#}
{#                <ul class="clearfix">#}
{#                    <li class="fl">#}
{#                        <p class="number">{{ count}}</p>#}
{#                        <p>发布</p>#}
{#                    </li>#}
{#                    <li class="fl">#}
{#                        <p class="number">643</p>#}
{#                        <p>浏览</p>#}
{#                    </li>#}
{#                    <li class="fl">#}
{#                        <p class="number">643</p>#}
{#                        <p>评价</p>#}
{#                    </li>#}
{#                </ul>#}
{#            </div>#}
{#        </div>#}
        {% include 'pc/base_aside.html' %}
        <div class="aside_goodperson">
            <div class="blogs_head" style="background: url(img/public.png)no-repeat 0 50%;">热门牛人<a class="fr change">更多</a></div>
            <div>
                {% for foo in count %}
                    <div class="aside_goodperson_item clearfix">
                    <div class="fl aside_goodperson_item_num">{{ forloop.counter }}</div>
                    <div class="fl aside_goodperson_item_user">
                        <div class="aside_goodperson_item_user_avatar img_cover" style="background: url(http://www.fengjinqi.com/uploads/avatar/a3fa9ffc500c08522bea28871c0be419.jpg)no-repeat"></div>
                        <div class="aside_goodperson_item_user_info">
                            <p>{{ foo.username }}</p>
                            <p>更博：{{ foo.article_add_set.count }}</p>
                        </div>
                    </div>
                    <div class="fr aside_goodperson_item_num follow" data-actions-icnt="{{ foo.id }}" onclick="flollw(this)">

                    {{ foo.follow.count }}
                        {% if request.user.id == foo.follow.first.fan.id%}

                            已关注
                            {% else %}
                            关注
                        {% endif %}</div>
                    </div>
                {% endfor %}


            </div>
        </div>
        <div class="aside_autor">
            <div class="blogs_head" style="background: url(img/public.png)no-repeat 0 50%;">推荐作者 <a class="fr change">换一组</a></div>
            <div class="flex_justify">
                <div class="aside_autor_item">
                    <p class="aside_goodperson_item_user_avatar1 img_cover" style="background: url(http://www.fengjinqi.com/uploads/avatar/a3fa9ffc500c08522bea28871c0be419.jpg)no-repeat"></p>
                    <p>-狙击手-</p>
                    <p>更博：34</p>
                </div>
                <div class="aside_autor_item">
                    <p class="aside_goodperson_item_user_avatar1 img_cover" style="background: url(http://www.fengjinqi.com/uploads/avatar/a3fa9ffc500c08522bea28871c0be419.jpg)no-repeat"></p>
                    <p>-狙击手-</p>
                    <p>更博：34</p>
                </div>
                <div class="aside_autor_item">
                    <p class="aside_goodperson_item_user_avatar1 img_cover" style="background: url(http://www.fengjinqi.com/uploads/avatar/a3fa9ffc500c08522bea28871c0be419.jpg)no-repeat"></p>
                    <p>-狙击手-</p>
                    <p>更博：34</p>
                </div>
            </div>
        </div>
    </aside>
</section>
{% endblock %}

{% block js %}
<script src="{% static 'js/swiper.min.js' %}"></script>
<script src="{% static 'js/index.js' %}"></script>
    <script>
    $(function () {
        $.ajax({
            url: '/api/article_list/',
            type: 'get',
            dataType:'json',
            success:function (data) {
                console.log(data)
            },
            error:function (err) {

            }
        })
    })

    function flollw (obj){
        console.log($(obj).attr('data-actions-icnt'))
        var _self= $(obj)
        follow = $(obj).attr('data-actions-icnt')
          $.ajax({
                url:'/login/author/',
                type:'post',
                data:{follow:follow},
                  headers:{'X-CSRFToken':$.cookie('csrftoken')},
                success:function (data) {
                    if(data.status==201 && data.message=='不能自己关注自己'){
                        alert('不能自己关注自己')
                    }else if(data.status==200 && data.message=='成功关注'){
                        _self.html('已关注')
                    }else if(data.status==200 && data.message=='已取消关注'){
                        _self.html('关注')
                    }
                    console.log(data)
                },
                error:function (xhr) {
                    console.log(xhr)
                }
            })
    }

    </script>
{% endblock %}
