{% extends 'pc/base.html' %}
{% load highlight %}
{% load staticfiles %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
<style>
    span.highlighted { color: red; }
</style>
{% endblock %}

{% block content %}
     <section class="main clearfix">
     <article>
    {% if query %}
        {% for result in page.object_list %}

                   <div class="blogs">

                <div class="blogs_cont">

                    <h3><span class="blogs_type">{{ result.object.category.name }} </span>    <a href="{% url 'article:detail' result.object.id %}">{% highlight result.object.title with query %}</a></h3>
                    <div class="blogs_foot clearfix">
                        <ul class="clearfix">

                        <li style="margin-bottom: 10px; max-height: 60px;height: auto;
"><a style="overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    -webkit-line-clamp: 3;" href="{% url 'article:detail' result.object.id %}" > {% highlight result.object.desc with query %}</a></li>
                            <li class="fl">
                                 <a href="{% url 'article:detail' result.object.id %}" class="clearfix">
                                     <span class="fl img_cover blogs_avatar" style="background: url({% if result.object.authors.user_imag %}
                                     {{ MEDIA_URL }}{{ result.object.authors.user_imag }}
                                         {% else %}
                                         {{ result.object.authors.user_image }}
                                     {% endif %})no-repeat;background-color: #ccc;"></span>
                                     <span class="fl blogs_name">{{ result.object.authors.username }}</span>
                                 </a>
                             </li>
                            <li class="fl blogs_time">发布于:{{ result.object.add_time }}</li>
                            <li class="fl blogs_view" style="background: url({% static 'img/eye.png' %})no-repeat 0 50%;">{{ result.object.click_nums }}</li>
                            <li class="fl blogs_comment" style="background: url({% static 'img/comment.png' %})no-repeat 0 50%;">{{ result.object.get_number }}</li>
                        </ul>
                    </div>

                </div>
            </div>



        {% empty %}
            <div class="no-post" style="margin-top: 15px;">没有搜索到你想要的结果！</div>
        {% endfor %}
        {% if page.has_previous or page.has_next %}
             <div class="pageturn">
           <ul class="pagination">
                {% if page.has_previous %}
                   <li> <a href="?q={{ query }}&amp;page={{ page.previous_page_number }}">上一页</a></li>
                {% else %}
                      <li><span class="disabled next btn" disabled=""> 上一页</span></li>
              {% endif %}


                {% if page.has_next %}
                    <li><a href="?q={{ query }}&amp;page={{ page.next_page_number }}">下一页</a></li>

                {% else %}
                     <li><span class="disabled next btn" disabled=""> 下一页</span></li>
              {% endif %}
           </ul>
             </div>

        {% endif %}
    {% else %}
        请输入搜索关键词，例如 django
    {% endif %}
           </article>
       </section>
{% endblock content %}