{% extends 'pc/base.html' %}
{% load static %}
{% block css %}
         <link rel="stylesheet" href="{% static 'markdown/css/editormd.css' %}" />
    <link rel="stylesheet" href="{% static 'css/course.css' %}">

{% endblock %}
{% block link_js %}

        <script src="{% static 'markdown/lib/marked.min.js' %}"></script>
        <script src="{% static 'markdown/lib/prettify.min.js' %}"></script>
        <script src="{% static 'markdown/lib/raphael.min.js' %}"></script>
        <script src="{% static 'markdown/lib/underscore.min.js' %}"></script>
        <script src="{% static 'markdown/lib/sequence-diagram.min.js' %}"></script>
        <script src="{% static 'markdown/lib/flowchart.min.js' %}"></script>
        <script src="{% static 'markdown/lib/jquery.flowchart.min.js' %}"></script>
        <script src="{% static 'markdown/editormd.js' %}"></script>



{% endblock %}
{% block content %}
    <div class="container clearfix">
        <div class="Catalog fl">
            <ul>
                {% for foo in course %}
                    <li><a href="{{ foo.id }}">{{ foo.titles }}</a></li>
                {% endfor %}

            </ul>
        </div>
        <div class="content fr">
            <div class="pageNav clearfix">
                <div class="fl">
                    < 前一页
                </div>
                <div class="fr">
                    后一页 >

                </div>
                 <div id="test-editormd-view2"style="padding: 20px 0">
                <textarea id="append-test" name="test-editormd-markdown-doc" style="display:none;">{{ course.first.conent }}</textarea>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block js %}
    <script>
            $(function() {
            var testEditormdView, testEditormdView2;
            testEditormdView2 = editormd.markdownToHTML("test-editormd-view2", {
                htmlDecode      : "style,script,iframe",  // you can filter tags decode
                emoji           : true,
                taskList        : true,
                tex             : true,  // 默认不解析
                flowChart       : true,  // 默认不解析
                sequenceDiagram : true,  // 默认不解析
            });
        });
    </script>
{% endblock %}