{% extends 'pc/base.html' %}
{% load static %}
{% block title %}教程|技术交流社区博客{% endblock %}
{% block keywords %}
社区论坛|冯金琪,问题求助、代码、技术分享、综合讨论、求职招聘，js,js学习,Vue,React,前端学习,后台学习,服务器学习教程,数据库,mysql等学习,Java学习，ssh框架,PHP学习等，技术交流社区博客
{% endblock %}
{% block desc %}
社区论坛|冯金琪-技术交流社区博客,欢迎大家加入本站，本站是纯IT技术交流学术网站,在这里大家可以技术交流学习,发布文章,发布教程，一起学习成长，问题求助、代码、技术分享、综合讨论，在这里你可以进行技术分享、帮助别人解决问题。
{% endblock %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/course.css' %}">
{% endblock %}
{% block content %}
    <div class="container">
        <div id="main" class="clearfix">

            {% for foo in course %}
                  <div class="course">
                       <a href="/course/{{ foo.id }}/{{ foo.courselist_set.first.id }}.html">
                     <img class="corseimg" src="{% if foo.image %}
                     {{ MEDIA_URL }}{{ foo.image }}
                     {% else %}
                     {% static 'img/pic/a5e8b0e574b0b165092b069f9c819f9a.jpg' %}
                     {% endif %}" alt="">
                <div class="desc">
                    <p>{{ foo.title }}</p>
                    <span>{{ foo.info }}</span>
                    <div class="article__footer clearfix">
                        <span class="fl type">{% if foo.is_active %}
                        更新中...
                            {% else %}
                            已完结
                        {% endif %}</span>
                        <span class="fr time">{{ foo.add_time }}</span>
                    </div>
                </div>
                </a>


            </div>
                {% empty %}
                <p class="empty">暂无更新课程，敬请期待</p>
            {% endfor %}


        </div>
    </div>
{% endblock %}