{% extends 'pc/base.html' %}
{% load static %}
{% block title %}教程{% endblock %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/course.css' %}">
{% endblock %}
{% block content %}
    <div class="container">
        <div id="main"class="clearfix">
            <div class="course">
                <a href="">
                     <img src="{% static 'img/pic/a5e8b0e574b0b165092b069f9c819f9a.jpg'%}" alt="">
                <div class="desc">
                    <p>ajax跨域完全讲解</p>
                    <span>完全讲解Ajax跨域产生的原因和解决思路，掌握跨域的各种解决方案</span>
                    <div class="article__footer clearfix">
                        <span class="fl type">前端</span>
                        <span class="fr time">2018-10-12</span>
                    </div>
                </div>
                </a>


            </div>
            <div class="course">
                <a href="">
                     <img src="{% static 'img/pic/a5e8b0e574b0b165092b069f9c819f9a.jpg'%}" alt="">
                <div class="desc">
                    <p>ajax跨域完全讲解</p>
                    <span>完全讲解Ajax跨域产生的原因和解决思路，掌握跨域的各种解决方案</span>
                    <div class="article__footer clearfix">
                        <span class="fl type">前端</span>
                        <span class="fr time">2018-10-12</span>
                    </div>
                </div>
                </a>


            </div>
            <div class="course">
                <a href="">
                     <img src="{% static 'img/pic/a5e8b0e574b0b165092b069f9c819f9a.jpg'%}" alt="">
                <div class="desc">
                    <p>ajax跨域完全讲解</p>
                    <span>完全讲解Ajax跨域产生的原因和解决思路，掌握跨域的各种解决方案</span>
                    <div class="article__footer clearfix">
                        <span class="fl type">前端</span>
                        <span class="fr time">2018-10-12</span>
                    </div>
                </div>
                </a>


            </div>
            <div class="course">
                <a href="">
                     <img src="{% static 'img/pic/a5e8b0e574b0b165092b069f9c819f9a.jpg'%}" alt="">
                <div class="desc">
                    <p>ajax跨域完全讲解</p>
                    <span>完全讲解Ajax跨域产生的原因和解决思路，掌握跨域的各种解决方案</span>
                    <div class="article__footer clearfix">
                        <span class="fl type">前端</span>
                        <span class="fr time">2018-10-12</span>
                    </div>
                </div>
                </a>


            </div>
            <div class="course">
                <a href="">
                     <img src="{% static 'img/pic/a5e8b0e574b0b165092b069f9c819f9a.jpg'%}" alt="">
                <div class="desc">
                    <p>ajax跨域完全讲解</p>
                    <span>完全讲解Ajax跨域产生的原因和解决思路，掌握跨域的各种解决方案</span>
                    <div class="article__footer clearfix">
                        <span class="fl type">前端</span>
                        <span class="fr time">2018-10-12</span>
                    </div>
                </div>
                </a>


            </div>
            <div class="course">
                <a href="">
                     <img src="{% static 'img/pic/a5e8b0e574b0b165092b069f9c819f9a.jpg'%}" alt="">
                <div class="desc">
                    <p>ajax跨域完全讲解</p>
                    <span>完全讲解Ajax跨域产生的原因和解决思路，掌握跨域的各种解决方案</span>
                    <div class="article__footer clearfix">
                        <span class="fl type">前端</span>
                        <span class="fr time">2018-10-12</span>
                    </div>
                </div>
                </a>


            </div>
            <div class="course">
                <a href="">
                     <img src="{% static 'img/pic/a5e8b0e574b0b165092b069f9c819f9a.jpg'%}" alt="">
                <div class="desc">
                    <p>ajax跨域完全讲解</p>
                    <span>完全讲解Ajax跨域产生的原因和解决思路，掌握跨域的各种解决方案</span>
                    <div class="article__footer clearfix">
                        <span class="fl type">前端</span>
                        <span class="fr time">2018-10-12</span>
                    </div>
                </div>
                </a>


            </div>
            <div class="course">
                <a href="">
                     <img src="{% static 'img/pic/a5e8b0e574b0b165092b069f9c819f9a.jpg'%}" alt="">
                <div class="desc">
                    <p>ajax跨域完全讲解</p>
                    <span>完全讲解Ajax跨域产生的原因和解决思路，掌握跨域的各种解决方案</span>
                    <div class="article__footer clearfix">
                        <span class="fl type">前端</span>
                        <span class="fr time">2018-10-12</span>
                    </div>
                </div>
                </a>


            </div>
            <div class="course">
                <a href="">
                     <img src="{% static 'img/pic/a5e8b0e574b0b165092b069f9c819f9a.jpg'%}" alt="">
                <div class="desc">
                    <p>ajax跨域完全讲解</p>
                    <span>完全讲解Ajax跨域产生的原因和解决思路，掌握跨域的各种解决方案</span>
                    <div class="article__footer clearfix">
                        <span class="fl type">前端</span>
                        <span class="fr time">2018-10-12</span>
                    </div>
                </div>
                </a>


            </div>
            <div class="course">
                <a href="">
                     <img src="{% static 'img/pic/a5e8b0e574b0b165092b069f9c819f9a.jpg'%}" alt="">
                <div class="desc">
                    <p>ajax跨域完全讲解</p>
                    <span>完全讲解Ajax跨域产生的原因和解决思路，掌握跨域的各种解决方案</span>
                    <div class="article__footer clearfix">
                        <span class="fl type">前端</span>
                        <span class="fr time">2018-10-12</span>
                    </div>
                </div>
                </a>


            </div>
            <div class="course">
                <a href="">
                     <img src="{% static 'img/pic/a5e8b0e574b0b165092b069f9c819f9a.jpg'%}" alt="">
                <div class="desc">
                    <p>ajax跨域完全讲解</p>
                    <span>完全讲解Ajax跨域产生的原因和解决思路，掌握跨域的各种解决方案</span>
                    <div class="article__footer clearfix">
                        <span class="fl type">前端</span>
                        <span class="fr time">2018-10-12</span>
                    </div>
                </div>
                </a>


            </div>
            <div class="course">
                <a href="">
                     <img src="{% static 'img/pic/a5e8b0e574b0b165092b069f9c819f9a.jpg'%}" alt="">
                <div class="desc">
                    <p>ajax跨域完全讲解</p>
                    <span>完全讲解Ajax跨域产生的原因和解决思路，掌握跨域的各种解决方案</span>
                    <div class="article__footer clearfix">
                        <span class="fl type">前端</span>
                        <span class="fr time">2018-10-12</span>
                    </div>
                </div>
                </a>


            </div>
        </div>
    </div>
{% endblock %}